In [1]:
# NOTES

In [3]:
import pandas as pd

In [13]:
df = pd.DataFrame([[1,2,3,],[4,5,6,],[7,8,9,]], columns=["A", "B", "C"], index=["x", "y", "z"])

# variable df = pd.(insert df)

In [14]:
df.head()
# look at the table 
# adding number inside () puts that # of rows

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [15]:
df.tail()
# look at the last # of rows

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [16]:
df.columns # headers
df.index # first column
df.index.tolist() # to see the first column's list

['x', 'y', 'z']

In [17]:
df.info() # see information about the df

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [18]:
df.describe() # meaningful info about our data

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [19]:
# # of items in each column, mean of items, standard deviation, etc

In [24]:
df.nunique() # find unique values in each column

A    3
B    3
C    3
dtype: int64

In [27]:
df['A'].unique()

array([1, 4, 7])

In [28]:
df.shape # shape of df, # of rows n columns

(3, 3)

In [31]:
df.info() # memory impact

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [32]:
df.size # total # of items

9

In [33]:
df.sample() # get a random sample

   A  B  C
x  1  2  3